<section class="work">
	<h2>Work Experience</h2>
	{{#if resume.work.length}}
	{{#each resume.work}}
	<div>
		<h3>
			{{#if url}}
			<a target="_blank" rel="noopener" href="{{url}}">{{name}} {{> link-icon}}</a>
			{{else}}
			{{name}}
			{{/if}}
		</h3>

		{{#if positions}}
		{{#each positions}}
		{{> position}}
		{{/each}}
		{{else}}
		{{> position}}
		{{/if}}
	</div>
	{{/each}}
	{{/if}}
</section>